

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.hbox {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: stretch;
 
	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-align: stretch;
 
	display: box;
	box-orient: horizontal;
	box-align: stretch;

	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;

	display: -webkit-flex;
	-webkit-flex: 1;
	-webkit-flex-align: stretch;
}
 
.hbox > * {
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	box-flex: 0;
	display: block;
}
 
.vbox {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-align: stretch;
 
	display: -moz-box;
	-moz-box-orient: vertical;
	-moz-box-align: stretch;
 
	display: box;
	box-orient: vertical;
	box-align: stretch;

	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;

	display: -webkit-flex;
	-webkit-flex: 1;
	-webkit-flex-align: stretch;
	-webkit-flex-direction: column;
}
 
.vbox > * {
	-webkit-box-flex: 0;
	-moz-box-flex: 0;
	box-flex: 0;
	display: block;
}

.boxFlex0 {
	-webkit-box-flex: 0 !important;
	-moz-box-flex: 0 !important;
	box-flex: 0 !important;

	-webkit-flex: 0 !important;
	-moz-flex: 0 !important;
	flex: 0 !important;
}

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-align: stretch;
 
	display: -moz-box;
	-moz-box-orient: vertical;
	-moz-box-align: stretch;
 
	display: box;
	box-orient: vertical;
	box-align: stretch;

	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;

	display: -webkit-flex;
	display: flex;
	-webkit-flex: 1;
	-webkit-flex-align: stretch;
	-webkit-flex-direction: column;
}

#banner .container {
	width: 100%;
}
.navbar {
	margin: 0;
}
.navbar-inner {
	padding: 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
#main {
	background: rgba(0, 0, 0, 0.1);
	width: 100%;
}

#main, .left, .right, .top, .bottom {
	display: box;
	display: -webkit-box;
	display: -moz-box;

	-webkit-box-align: stretch;
	-moz-box-align: stretch;
	box-align: stretch;

	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;

	display: -webkit-flex;
	-webkit-flex: 1;
}

.blue {
	background: rgba(0, 0, 255, 0.2);
}
.yellow {
	background: rgba(255, 255, 0, 0.2);
}
.red {
	background: rgba(255, 0, 0, 0.2);
	width: 500px;
}
.green {
	background: rgba(0, 255, 0, 0.2);
	width: 400px;
}

@media (min-width: 768px) and (max-width: 979px) {
	.red {
		width: 200px;
	}
	.green {
		width: 200px;
	}
}

.widget {
	width: 200px;
	height: 200px;
	border: 1px solid #eee;
	position: absolute;
	left: 0px;
	top: 0px;

	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-align: stretch;
 
	display: -moz-box;
	-moz-box-orient: vertical;
	-moz-box-align: stretch;
 
	display: box;
	box-orient: vertical;
	box-align: stretch;

	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;

	display: -webkit-flex;
	-webkit-flex-direction: column;
}
	.widget .header {
		background: #76A7FF;
		padding: 0.5em;
	}
	.widget .header a {
		display: inline-block;
	}
	.widget .header a:hover {
		cursor: pointer;
	}


.widget iframe {
	width: 100%;
	border: 0px;
	
	display: -webkit-box;
	-webkit-box-flex: 1;
	-webkit-box-align: stretch;

	display: -moz-box;
	-moz-box-flex: 1;
	-moz-box-align: stretch;

	display: -webkit-flex;
	-webkit-flex-align: stretch;
	-webkit-flex: 1;
}


.widget.window .header {
	cursor: move;
}

#launch-menu {
	padding: 1em;
	display: none;
}

#launch-menu-header {
	overflow: hidden;
	display: -webkit-flex;
	-webkit-flex: 1;
}

#launch-menu-header-selected-widget {
	display: -webkit-flex;
	-webkit-flex: 1;
}

#launch-menu-header-selected-widget-thumb {
	padding-right: 1em;
	width: 7em;
}

#launch-menu-header-selected-widget-thumb img {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
#launch-menu-header-selected-widget-thumb .btn {
	margin: 1em 0 0 0;
}

#launch-menu-header-selected-widget-info {
	-webkit-flex: 1;
}
#launch-menu-controls {
	width: 10em;
}

#launch-menu-header-selected-widget img,
#launch-menu-header-selected-widget a {
	display: block;
}

.widget-thumb {
	background: white;
	border: 1px solid white;
	float: left;
	margin: 8px 0px 8px 8px;
	padding-top: 4px;
	padding-left: 4px;
	padding-right: 4px;
	padding-bottom: 5px;
	position: relative;
	text-align: center;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}

.widget-thumb:hover {
	background: #efefef;
}

.widget-thumb.selected {
	background: #eee;
}

.widget-thumb img {
	display: block;
	width: 50px;
	height: 50px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.widget-thumb span {
	display: block;
	color: black;
	font: 11px helvetica, arial, sans-serif;
	height: 2.5em;
	width: 6em;
	margin-left: auto;
	margin-right: auto;
}
#doc-mask.mask {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	z-index: 10000000000000;
	width: 100%;
	height: 100%;
}

#launch-menu-controls input {
	width: 100%;
}