#create-edit-dashboard-window {
	@extend .no-border-radius;
	border: 5px solid gray;
	border: 5px solid rgba(gray, 0.5);

	.row {
		line-height: 3em;
	}

	& > .modal-header {
		& > h4 {
			margin: 0;
		}

		& > button {
			margin: 0;
			line-height: $baseFontSize * 1.25;
		}
	}

}