$baseBorderRadius:      0;
$borderRadiusLarge:     0;
$borderRadiusSmall:     0;

$baseColor: #fff;

//$linkColor: #3367D0;

@import "kendo.common.css";
@import "kendo.default.css";
@import "jquery.ui.core.css";
@import "jquery.ui.theme.css";
@import "jquery.ui.resizable.css";
@import "utils/functions";
@import "utils/animations";
@import "compass_twitter_bootstrap_awesome";
/*@import "compass_twitter_bootstrap_quirks_mode";*/
@import "overrides/bootstrap.scss";

.modal-backdrop,
.modal-backdrop.fade.in {
  @include opacity(0.3);
}

// bannerGray: #6E7478;

/** {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}*/

.no-border-radius {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

body { /* Addresses a small issue in webkit: http://bit.ly/NEdoDq */
    -webkit-backface-visibility: hidden;
}

html, body, #main, #dashboard-container, #dashboard-designer, .dashboard {
    width: 100%;
    height: 100%;
}

/*body {
    background-color: #0b3a69; // Old browsers
    @include filter-gradient(#0b3a69, #5fc9c5, horizontal); // IE6-9 fallback on horizontal gradient
    @include background-image(linear-gradient(left top,  #0b3a69 0%,#2583a1 51%,#2c8ea7 59%,#5fc9c5 100%));

}*/

#main {
    position: relative;
}

#dashboard-container {
    margin-top: $navbarHeight;
    overflow: hidden;
}

#dashboard-container, #dashboard-designer, .dashboard {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
}

.dashboard, .pane, .box {
    border: 0;
}

#mask {
    width: 100%;
    height: 100%;
    position: absolute;
}

.dashboard, .box, .pane {
    background: transparent;
}

// fit pane
.dashboard > .pane {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
}

// for widget drag and drop
.paneshim {
    position: absolute;
    width: 100%;
    height: 100%;
}


// feedback when dragging over a pane
.paneshim.over {
    background: rgba(0,0,0,0.5);
}

@import "components/z_index";
@import "components/about_window";
@import "components/user_profile_window";
@import "components/banner";
@import "components/widget";
@import "components/launch_menu";
@import "components/dashboard";
@import "components/dashboard_switcher";
@import "components/create_edit_dashboard";
@import "components/dashboard_designer";